# Excluir la carpeta analisis_datos_env completa
analisis_datos_env/

# Excluir la subcarpeta .ipynb_checkpoints en cualquier lugar
**/.ipynb_checkpoints/

# Opcional: también excluir otros archivos comunes de Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/

# Reejecución de scripts
etl/resultados/resultados_dia_2/datos.xlsx
etl/resultados/resultados_dia_2/ventas.db
